.idea
.vscode
.env
.flaskenv
*.pyc
*.pyo
*.log
*.logs
logs/
env/
__pycache__/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/

docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.out
*active_sessions.json
*active_genomes.json
*chat_data_response_*